@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TechElevator<br />
    1275 Kinnear Rd #121<br />
    Columbus, OH 43212<br />
    <abbr title="Phone">P:</abbr>
    (877) 606-3203
</address>

<address>
    <strong>More information:</strong>   <a href="http://techelevator.com">TechElevator.com</a><br />
</address>

@section AfterCopyright {
    <p>This information may be freely copied and distributed with inclusion of copyright notice.</p>
}