@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    From: https://github.com/bfranchini/SignalR-MVC5Demo <br />
    Based on: https://www.asp.net/signalr/overview/getting-started/tutorial-getting-started-with-signalr-and-mvc
</div>
