
@{
    Layout = null;   //<-- ignore this for now, it is used to create reusable site layouts
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
</body>
</html>
