
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionLinkTest</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Link to Colors", "Colors")
    </div>
</body>
</html>
