@model HistoryGeek.Web.Models.User

<li>@Html.ActionLink("Chat", "Index", "Chat")</li>
<li class="right-aligned">@Html.ActionLink("Logout", "Logout", "User")</li>
<li class="right-aligned"><a href="@Url.Action("ViewCart", "Store")">View Cart</a></li>
