
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">

    <section class="account">
        <!-- image file for piggy bank -->
        <img src="~/Content/img/piggybank.png" alt="Start Saving" />
        <h2>Start Saving</h2>
        <p>Start creating your lifetime savings today. Get your money from underneath that mattress and into our savings accounts with low-yield interest rates. Our accounts have a minimum balance of $1,000.00 and don't start recognizing interest for the first 60 months. Interest rates change almost hourly! Check below for the newest rates:</p>
        <ul>
            <li>$1,000 @@ 0.05%</li>
            <li>$100,000 @@ 0.06%</li>
            <li>$100,000,000 @@ 0.061%</li>
        </ul>
    </section>

    <section class="account">
        <img src="~/Content/img/checkandpen.png" alt="Open Checking" />
        <h2 id="checking">Open Checking</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis imperdiet lorem in urna accumsan, sed consequat arcu tincidunt. Duis pretium lectus ac elit pretium, ut interdum felis aliquet. Ut varius, nisi eget venenatis hendrerit, lorem neque mattis nisl, vel feugiat libero sapien sit amet purus. Duis lobortis, nisi in dignissim congue, lacus ipsum posuere diam, eget lacinia ex elit in leo. Aenean non dui sagittis, aliquam turpis a, lacinia lacus. Mauris at hendrerit odio. Fusce tristique hendrerit aliquam.</p>
    </section>

    <section class="account">
        <img src="~/Content/img/dollarsign.png" alt="Loans">
        <h2>Loans</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis imperdiet lorem in urna accumsan, sed consequat arcu tincidunt. Duis pretium lectus ac elit pretium, ut interdum felis aliquet. Ut varius, nisi eget venenatis hendrerit, lorem neque mattis nisl, vel feugiat libero sapien sit amet purus. Duis lobortis, nisi in dignissim congue, lacus ipsum posuere diam, eget lacinia ex elit in leo. Aenean non dui sagittis, aliquam turpis a, lacinia lacus. Mauris at hendrerit odio. Fusce tristique hendrerit aliquam.</p>
    </section>


</section>