@using FlyByNightBank.Web.Models;
@model LoanApplication


@{
    ViewBag.Title = "Submitted";
    Layout = "~/Views/Shared/_LayoutWithTempData.cshtml";
}

<h2>Your Application Id is @Model.ApplicationId</h2>

